@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit Employee";
    
    var photoPath = "/images/" + (Model.ExistingPhotoPath ?? "user.png");

}

<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-6">
            <h3 class="text-center mb-3">Update Employee</h3>

            <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="create-form">

                <input asp-for="Id" hidden />
                <input asp-for="ExistingPhotoPath" hidden />
                
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Email"></label>
                    <input class="form-control" type="email" asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Department"></label>
                    <select class="form-select" asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
                        <option>Please Select</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Photo"></label>
                    <input class="form-control" asp-for="Photo" multiple/>
                </div>
                
                <img class="mt-4" src="@photoPath" />

                <div class="mt-3 text-danger" asp-validation-summary="All">
                </div>

                <button class="btn btn-success mt-3" type="submit">Update</button>
                
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger mt-3" type="submit">Cancel</a>
            </form>
        </div>
    </div>
</div>