@model IEnumerable<WebApplication.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        @foreach (var employee in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>@employee.Name</h3>
                    </div>

                    <img class="card-img-top" src="~/images/user.png" alt="User" asp-append-version="true"/>


                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="details" asp-route-id="@employee.Id"
                           class="btn btn-info">
                            View
                        </a>

                        <a class="btn btn-warning">Edit</a>
                        <a class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>