<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css"/>
</head>
<body>
@RenderBody()


<script src="/lib/twitter-bootstrap/js/bootstrap.js"></script>

@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts", false)
}
</body>
</html>