.btn {
    width: 75px;
}

.create-form {
    background-color: #f6f6f6;
    
    -webkit-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    
    border-radius: 6px;
    padding: 25px;
}