@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="mt-3 text-center">Login</h2>

            <form method="post" class="mt-3 text-left custom-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <label asp-for="RememberMe" class="form-check-label"></label>
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input"/>
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-3">Login</button>
                
                <a asp-action="ForgotPassword">Forgot Password?</a>
            </form>

            <hr/>

            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <h5 class="mt-4">No External Logins Provided</h5>
                }
                else
                {
                    <form class="mt-4" method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button class="btn btn-success"
                                        type="submit"
                                        name="provider"
                                        value="@provider.Name"
                                        title="Login using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>